.container {
  color: white;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1280px;
}

.back-button {
  width: fit-content;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.movie-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.empty-message {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
